@model IEnumerable<Developer>

@{
    ViewData["Title"] = "List of Developers";
}

<div class="row">
    <div class="col-md-8 mx-auto">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.Biography)</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var developer in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img src="@developer.ProfilePictureURL" style="max-width:120px;max-height:120px" />
                        </td>
                        <td class="align-middle">
                            @developer.FullName
                        </td>
                        <td class="align-middle">
                            @developer.Biography
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="align-middle" style="white-space:nowrap">
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@developer.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@developer.Id"><i class="bi bi-eye"></i> Details</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@developer.Id"><i class="bi bi-trash"></i> Delete</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_CreateItem","Developers")