@model IEnumerable<Game>

@{
    ViewData["Title"] = "List of Games";
}

<div class="row">
    @foreach (var game in Model)
    {
        <div class="col-12 col-sm-6 col-md-4 col-lg-4" style="margin-bottom: 20px">
            <div class="card">
                <img src="@game.ImageURL" class="card-img-top img-fluid position-relative" alt="Game cover">

                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@game.Id" class="position-absolute text-white" style="top: 5px; right: 10px; font-size: 2em">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                }

                <div class="card-body">
                    <h5 class="card-title text-">@game.Name</h5>
                    <p class="card-text">@game.Description</p>
                    <p class="card-text"><small class="text-muted">Platform: @game.Platform.Name</small></p>
                    <p class="card-text"><small class="text-muted">Category: @game.Category</small></p>
                    <p class="card-text"><small class="text-muted">Release Date: @game.ReleaseDate.ToString("yyyy-MM-dd")</small></p>
                    <p class="card-text">
                        <small class="text-muted">
                            Status:
                            @if (DateTime.Now >= game.ReleaseDate)
                            {
                                <span class="badge bg-success text-white">AVAILABLE</span>
                            }
                            else
                            {
                                <span class="badge bg-primary text-white">UPCOMING</span>
                            }
                        </small>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@game.Id">
                            <i class="bi bi-eye-fill"></i> Show Details
                        </a>
                        <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddToShoppingCart" asp-route-id="@game.Id">
                            <i class="bi bi-cart-plus"></i>
                            @((DateTime.Now >= game.ReleaseDate) ? "Add to Cart " : "Pre-Purchase ")(Price $@game.Price)
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("_CreateItem","Games")